#slider {
  width: 100%;
  text-align: center;
}

#slide-img {
  width: 100%;
}

.slider-nav {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slider-nav__left,
.slider-nav__center,
.slider-nav__right {
  flex: 1;
}

.btn {
  font-size: 4rem;
  cursor: pointer;
}

.start-btn:hover {
  color: #81D674;
}

#stop-btn {
  display: none;
}

.stop-btn:hover {
  color: #E38692;
}

#img-counter {
  text-align: right;
  font-size: 0.75rem;
}
